<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Cadastro de Doações</h2>
        </div>

        <div class="row g-5" style="padding-bottom: 20px;">

            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Dados Doação</h4>
                <form class="needs-validation" [formGroup]="formDoacao">
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label for="" class="form-label">
                                Doador
                            </label>
                            <app-select-autocomplete [shouldReset]="false" [title]="'Selecione um doador'" [filterBy]="'nomeCompleto'" (selectedEvent)="doadorSelected($event)" [items]="doadores"></app-select-autocomplete>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <label for="quantidadeMl" class="form-label">Quantidade Ml</label>
                        <input maxlength="5" mask="0*"
                        formControlName="quantidadeMl" name="quantidadeMl" type="text" class="form-control" id="quantidadeMl" placeholder="Quantidade Ml">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    
                    <hr class="my-4">

                    <button (click)="onSubmit()" class="w-100 btn btn-primary" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </main>


</div>