<div class="modal-header">
    <h4 class="modal-title text-center">Cadastro de doações</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
    <form class="needs-validation" [formGroup]="formDoacao">
        <div class="row g-3">
            <div class="col-sm-12">
                <label for="" class="form-label">
                    Doador
                </label>
                <app-select-autocomplete [shouldReset]="false" [title]="'Selecione um doador'"
                    [filterBy]="'nomeCompleto'" (selectedEvent)="doadorSelected($event)"
                    [items]="doadores"></app-select-autocomplete>
            </div>

        </div>

        <div class="col-sm-6">
            <label for="quantidadeMl" class="form-label">Quantidade Ml</label>
            <input maxlength="5" mask="0*" formControlName="quantidadeMl" name="quantidadeMl" type="text"
                class="form-control" id="quantidadeMl" placeholder="Quantidade Ml">
            <div class="invalid-feedback">
                Valid first name is required.
            </div>
        </div>

        <hr class="my-4">

        <button (click)="onSubmit()" class="w-100 btn btn-primary" type="submit">Cadastrar</button>
    </form>

</div>