<h4 class="card-header text-center">Estoque Sangue</h4>
<div class="container">    
    <div class="row">
        @for(estoque of estoqueSangue; track $index){
            <div class="col-sm-2">
                <h3>{{estoque.tipoSanguineo}}{{estoque.fatorRh == 'positivo' ? '+' : '-'}}</h3>
                <div [ngClass]="{
                    'critico': estoque.totalMl <= 500,
                    'alerta': estoque.totalMl >500 && estoque.totalMl <= 2000,
                    'estavel': estoque.totalMl > 2000
                  }" class="card-tipo-sanguineo">
                    <h4>{{estoque.totalMl}}ml</h4>
                </div>
            </div>
        }@empty {
            <p>Não há sangue no estoque</p>
        }
    


    </div>

    
        
    
    
	
    
</div>