<h4 class="card-header text-center">Doações Últimos 30 dias</h4>
<div class="container">
    <button (click)="open()" class="btn btn-primary mb-1">Nova doação</button>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data da Doação</th>
                    <th>Doador</th>
                    <th>Quantidade (Ml)</th>
                    <th>Tipo sanguíneo</th>
                    <th>Fator RH</th>
                </tr>
            </thead>
            <tbody>
                @for (doacao of doacoes; track doacao.id) {
                    <tr>
                        <td>{{ doacao.id }}</td>
                        <td>
                            {{ doacao.criadoEm | date: 'dd/MM/yyyy' }}
                        </td>
                        <td>
                            {{ doacao.doador.nomeCompleto }}
                        </td>
                        <td>
                            {{ doacao.quantidadeMl}}
                        </td>
                        <td>
                            {{ doacao.doador.tipoSanguineo }}
                        </td>
                        <td>
                            {{ doacao.doador.fatorRh == 'positivo' ? '+' : '-' }}
                        </td>
                    </tr>
                }@empty {
                    <p>Não há doações</p>
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between align-items-center p-2">

</div>

<ngx-spinner type="ball-clip-rotate-multiple"></ngx-spinner>