
        <form class="needs-validation" [formGroup]="formDoador">
            <div class="row g-3">
                <div class="col-sm-12">
                    <label for="nomeCompleto" class="form-label">Nome Completo</label>
                    <input maxlength="200" formControlName="nomeCompleto" name="nomeCompleto" type="text" class="form-control" id="nomeCompleto" placeholder="Nome Completo" >
                    
                    <div  class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>


                <div class="col-sm-6">
                    <label for="email" class="form-label">Email</label>
                    <input maxlength="100" type="email" formControlName="email" name="email" class="form-control" id="email" placeholder="Email">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="dataNascimento" class="form-label">Data de Nascimento</label>
                    <input id="dataNascimento" formControlName="dataNascimento" name="dataNascimento" type="date" class="form-control" id="dataNascimento" placeholder="">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="genero" class="form-label">Gênero</label>
                    <select formControlName="genero" name="genero" id="genero" class="form-select" aria-label="Default select example">
                        <option selected value="null">Selecione um gênero</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                    
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="peso" class="form-label">Peso</label>
                    <input mask="separator.2"
                    thousandSeparator="."
                    decimalMarker="," formControlName="peso" name="peso" type="text" class="form-control" id="peso" placeholder="Peso">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="tipoSanguineo" class="form-label">Tipo sanguíneo</label>
                    <select formControlName="tipoSanguineo" name="tipoSanguineo" id="tipoSanguineo" class="form-select" aria-label="Default select example">
                        <option selected value="null">Selecione um tipo sanguíneo</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                    </select>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="fatorRh" class="form-label">Fator RH</label>
                    <select formControlName="fatorRh" name="fatorRh" id="fatorRh" class="form-select" aria-label="Default select example">
                        <option selected value="null">Selecione um fator RH</option>
                        <option value="A">Positivo</option>
                        <option value="B">Negativo</option>
                    </select>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

            </div>


            <hr class="my-4">

            <h4 class="mb-3">Endereço</h4>

            <div class="col-sm-6">
                <label for="cep" class="form-label">CEP</label>
                <input formControlName="cep" name="cep" mask="00000-000" type="text" class="form-control" id="cep" placeholder="00000-000">
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>

            
            <hr class="my-4">

            <button (click)="onSubmit()" class="w-100 btn btn-primary" type="submit">Cadastrar</button>
        </form>